html
    head
        title Control Panel
        link(rel="stylesheet", href="style/sstyle.css")
    body
        h1 control-panel
        form#pattern(action="#")
            label Image
                input#image(type="file", name="image")

            button#submit Submit
    script(src="js/control-panel.js")